/* Titulo */

.titulo {
    width: calc(100% - 5px);
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
}

.tituloTexto {
    height: 290px;
    width: 600px;
    background-image: url('../img/lançamentos-titulo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'Blank River', sans-serif;
    font-size: 86pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo hr {
    width: 100%;
    border: dashed 2px;
    position: relative;
    bottom: 80px;
}