/* DATA Produtos*/

.dataProd,
.dataUsers {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 20px;
    gap: 10px;
}

/* CARD pagina DESCRICAO.html*/
.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}