.erro503 {
    min-width: 515px;
    width: calc(100vh - 35px);
    max-width: 715px;
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.erro503 h3 {
    width: calc(100% + 15px);
    font-size: 22pt;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.erro503 span {
    display: block;
    font-weight: 800;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
}