.erro204 {
    min-width: 515px;
    width: calc(100vh - 35px);
    max-width: 715px;
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.erro204 h3 {
    font-size: 22pt;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: var(--corFonte);
}

.erro204 span {
    width: 100%;
    display: block;
    font-weight: 1000;
    font-size: 80pt;
    text-wrap: nowrap;
    text-align: center;
    color: var(--corFonte);
}