/* FILTROS PRODUTOS*/

.filtrosProd,
.filtrosUsers,
.filtrosVendas {
    background-color: var(--fundo2);
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    gap: 20px;
    height: fit-content;
    transition: 1s;
}

.divSearch {
    display: flex;
    flex-direction: column;
}

.divSearch input {
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--borderInput);
    background-color: var(--fundo);
    text-indent: 5px;
    border-radius: 2px 2px 0 0;
    color: var(--corFonte);
    transition: 1s;
}

.situacao {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.situacao div {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.situacao div label {
    padding-inline: 4px;
}