/* TABELA PRODUTOS*/

.tabelaProd,
.tabelaUsers {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

.cabecalhoProd,
.cabecalhoUsers {
    min-width: 515px;
    width: 100%;
    max-width: 715px;
    height: 50px;
    background-color: var(--cor3);
    color: var(--corFonte2);
    display: flex;
    align-items: center;
    padding-inline: 10px;
    border-radius: 10px 10px 0 0;
}

.resultadoProd,
.resultadoUsers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    overflow: auto;
    min-height: 240px;
    max-height: calc(100vh - 120px);
    min-width: 515px;
    max-width: 715px;
    /* grid-row: auto; */
    align-content: flex-start;
    gap: 5px;
    overflow: auto;
    border: solid 1px var(--cor3);
    padding: 5px;
}

.resultadoCardProd,
.resultadoCardUsers {
    background-color: var(--fundo2);
    color: var(--corFonte);
    min-width: 250px;
    width: 100%;
    max-width: 350px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-word;
}

.resultadoCardProd span,
.resultadoCardUsers span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-word;
}

.resultadoCardProd:hover,
.resultadoCardUsers:hover {
    background-color: #8CB4FF;
    color: var(--corFonte1);
}