MYSQL_HOST = "host"
MYSQL_PORT = "8080"
MYSQL_USER = "root"
MYSQL_PASSWORD = "pass123"
MYSQL_DATABASE = "myDatabase"
NODEMAILER_USER = "emai@gmail.com"
NODEMAILER_PASS = "pass pass pass pass"
JWT_SECRET = "yoursecret"
FRONTEND_URL = "urlbase/recuperarSenha.html"


